<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('header',{title:"Trang chủ"}) %>

    <div class="page-content">
      <div class="container-fluid">

        <div class="row">

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                      Tổng thu tháng</div>
                    <div id="divTotalReceipt" class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    <!-- <i class="fas fa-calendar fa-2x text-gray-300"></i> -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                      Tổng chi tháng</div>
                    <div id="divPayment" class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col col-md-6">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                      Dùng app</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="count_app">0</div>
                  </div>
                  <div class="col col-md-6">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                      Dùng mã giảm giá</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="count_voucher">0</div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <!-- Earnings (Monthly) Card Example -->
          <!-- <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Số đơn đặt lịch hôm nay
                    </div>
                    <div class="row no-gutters align-items-center">
                      <div class="col-auto">
                        <div id="divSchedule" class="h5 mb-0 mr-3 font-weight-bold text-gray-800">0</div>
                      </div>
                      <div class="col">
                        <div class="progress progress-sm mr-2">
                          <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div> -->

          <!-- Pending Requests Card Example -->
        </div>
        <div class="row">

          <!-- Area Chart -->
          <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Doanh thu bán hàng các tháng</h6>
                <!-- <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Dropdown Header:</div>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div> -->
              </div>
              <!-- Card Body -->
              <div class="card-body">
                <div class="chart-area">
                  <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                      <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                      <div class=""></div>
                    </div>
                  </div>
                  <canvas id="myAreaChart" style="display: block; width: 1037px; height: 320px;" width="1037"
                    height="320" class="chartjs-render-monitor"></canvas>
                </div>
              </div>
            </div>
          </div>

          <!-- Pie Chart -->
          <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Thống kê nguồn khách</h6>
                <div class="dropdown no-arrow">
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                    aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Dropdown Header:</div>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                <div class="mt-4 text-center small">
                  <span class="mr-2">
                    <i class="fab fa-youtube text-danger"></i> Youtube
                    <!--facebook-->
                  </span>
                  <span class="mr-2">
                    <i class="fas fa-plus-circle text-light"></i> Lần đầu
                    <!--google-->
                  </span>
                  <span class="mr-2">
                    <i class="fas fa-user-cog text-dark"></i> Đã sử dụng dịch vụ
                    <!--bạn bè giới thiệu-->
                  </span>
                  <span class="mr-2">
                    <i class="fas fa-mobile-alt text-warning"></i> App mobile
                    <!--bạn bè giới thiệu-->
                  </span>
                </div>
                <div class="chart-pie pt-4 pb-2">
                  <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                      <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                      <div class=""></div>
                    </div>
                  </div>
                  <canvas id="myPieChart" width="486" height="245" style="display: block; width: 486px; height: 245px;"
                    class="chartjs-render-monitor"></canvas>
                </div>
                <div class="mt-4 text-center small">
                  <span class="mr-2">
                    <i class="fab fa-facebook text-primary"></i> Facebook
                    <!--facebook-->
                  </span>
                  <span class="mr-2">
                    <i class="fab fa-google-plus-square text-success"></i> Google
                    <!--google-->
                  </span>
                  <span class="mr-2">
                    <i class="fas fa-user-friends text-info"></i> Được giới thiệu
                    <!--bạn bè giới thiệu-->

                  </span>
                  <span class="mr-2">
                    <i class="fas fa-globe text-secondary"></i> Webtsite
                    <!--website-->
                  </span>
                </div>
              </div>
            </div>
          </div>

          <!-- -------BAR CHAR -->
          <!-- <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Bar Chart</h6>
                </div>
                <div class="card-body">
                    <div class="chart-bar"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                        <canvas id="myBarChart" width="1037" height="320" style="display: block; width: 1037px; height: 320px;" class="chartjs-render-monitor"></canvas>
                    </div>
                    <hr>
                </div>
            </div> -->
        </div>
      </div>
    </div>
    <%- include('footer') %>
      </body>

</html>

<script src="/assets/vendors/jquery/jquery.min.js"></script>
<script src="/assets/vendors/jquery-easing/jquery.easing.min.js"></script>
<!-- <script src="js/sb-admin-2.min.js"></script> -->
<script src="/assets/vendors/chart.js/Chart.min.js"></script>
<script src="/assets/vendors/chart.js/Chart.min.js"></script>
<script src="/js/Admin/index.js"></script>
