<!DOCTYPE html>
<html lang="en">
<head>

<%- include('header',{title:"Trang chủ"}) %>

      <div class="page-content">
        <div class="container-fluid">

            
        </div>
      </div>
 <%- include('footer') %>
</body>
</html>