<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="mdi mdi-email-outline"></i><span> Tìm kiếm </span></a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/find-product-history">Tìm kiếm sản phẩm</a></li>
                        <li><a href="/history-customer">Lịch sử khách hàng</a></li>
                        <li><a href="/filter-product">Lọc sản phẩm</a></li>
                        <li><a href="/find-all-product-import">Tìm kiếm các mã sản phẩm đã nhập</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-buffer"></i>
                        <span>Nghiệp vụ </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/import-product-from-supplier/add">Nhập hàng từ nhà cung cấp</a></li>
                        <li><a href="/import-product-from-return/add">Nhập hàng khách trả lại</a></li>
                        <li><a href="/import-product-from-period/add">Nhập hàng tồn đầu kỳ</a></li>
                        <li><a href="/export-product-to-sale/find">Xuất hàng để bán</a></li>
                        <li><a href="/export-product-to-return/find">Xuất hàng trả lại nhà cung cấp</a></li>
                        <li><a href="/internal-order-management/proposaled">Đơn hàng nội bộ</a></li>
                        <li><a href="/receive-form-management">Phiếu thu</a></li>
                        <li><a href="/payment-form-management">Phiếu chi</a></li>
                        <!-- <li><a href="/tranfer-fundbook">Chuyển quỹ</a></li> -->
                        <li><a href="/borrow-management">Mượn kho</a></li>
                        <!-- <li><a href="/warranty-management">Bảo hành sản phẩm</a></li> -->
                        <!-- <li><a href="/warranty-export-management">Đơn xuất bảo hành</a></li> -->
                        <!-- <li><a href="/order-management">Đơn hàng từ web</a></li>
                        <li><a href="/device-separation">Bóc tách và dựng máy</a></li>
                        <li><a href="/external-repair-service">Dịch vụ sửa chữa ngoài</a></li> -->
                        <li><a href="/change-warehouse">Đổi kho</a></li>
                
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-movie-filter-outline"></i>
                        <span>Báo cáo thống kê</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <!-- <li><a href="/timekeeping-work-management">Chấm công đi làm</a></li>
                        <li><a href="/timekeeping-schedule-management">Chấm công trực</a></li>
                        <li><a href="/calendar-management">Lịch trực</a></li> -->
                        <li><a href="/product-sold-by-date">Hàng bán theo ngày</a></li>
                        <li><a href="/inventory-management">Theo dõi nhập/xuất tồn</a></li>
                        <li><a href="/debt-management">Công nợ khách hàng</a></li>
                        <li><a href="/revenue-product">Lợi nhuận theo sản phẩm</a></li>
                        <li><a href="/revenue-product-by-employee">Lợi nhuận sản phẩm theo nhân viên</a></li>
                        <li><a href="/revenue-and-expenditure-statistics">Tình hình thu chi</a></li>
                        <li><a href="/fundbook-management">Sổ quỹ</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-movie-filter-outline"></i>
                        <span>Quản lý hệ thống</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <!-- <li><a href="/combo-product-to-sale">Combo sản phẩm</a></li> -->
                        <li><a href="/category-management">Quản lý danh mục</a></li>
                        <li><a href="/product-management">Quản lý sản phẩm</a></li>
                        <li><a href="/warehouse-management">Quản lý kho</a></li>
                        <li><a href="/branch-management">Quản lý chi nhánh</a></li>
                        <li><a href="/employee-management">Quản lý nhân viên</a></li>
                        <li><a href="/accouting-entry-management">Bút toán thu chi</a></li>
                        <!-- <li><a href="/asset-management">Tài sản cố định</a></li> -->
                        <!-- <li><a href="/point-management">Quản lý tích điểm</a></li>
                        <li><a href="/voucher-management">Tạo mã giảm giá</a></li> -->
                        <li><a href="/users-management">Danh sách khách hàng</a></li>
                        <li><a href="/permission-management">Phân quyền</a></li>
                        <li><a href="/backup-data">Backup dữ liệu</a></li>

                    </ul>
                </li>

                <!-- <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-movie-filter-outline"></i>
                        <span>Quản lý nội dung</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/youtube-management">Quản lý youtube</a></li>
                        <li><a href="/promotion-news-management">Tin khuyến mãi</a></li>
                        <li><a href="/news-management">Quản lý tin tức</a></li>
                        <li><a href="/subcategory-contents-management">Quản lý bài viết sản phẩm</a></li>
                        <li><a href="/promotion-combo-management">Quản lý combo khuyến mãi</a></li>
                        <li><a href="/warranty-combo-management">Quản lý combo bảo hành</a></li>
                        <li><a href="/manage-policy">Quản lý chính sách</a></li>
                        <li><a href="/slide-banner-admin">Quản lý slide banner</a></li>
                        <li><a href="/menu-management">Quản lý menu</a></li>
                        <li><a href="/component-website-management">Quản lý thành phần website</a></li>
                    </ul>
                </li> -->
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-movie-filter-outline"></i>
                        <span>CSKH</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/email-announcement-promotion">Email khuyến mại</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<div class="main-content">
