#btnAdd {
    position: absolute;
    top: 21px;
}

@media only screen and (max-width: 46.1875em) {
    #btnAdd {
        position: absolute;
        top: 21px;
    }
}

.form-group div {
    margin-left: 10px;
}

.form-group {
    display: flex;
}
