.image-branch
{
   
}

.div-image-branch
{
    position: relative;
}

.div-image-branch img
{
    width: 100%;
    height: 200px;
    border: 1px dotted;
}

.div-image-branch button
{
    margin-left: 43%;
}
.div-image-branch input
{
    display: none;
}

.div-wifi{
    position: relative;
}
.div-wifi .btn{
    top: 22px;
    position: absolute;
    right: 0;

}