.div-image img {
    margin-left: 43%;
    width: 200px;
    height: 200px;
    border: 1px dotted;
}

.div-image b {
    left: 50%;
    position: absolute;
}

/* .div-image input {
    display: none;
} */

#btnAdd {
    top: 117px;
}

.modal-body i {
    font-size: 20px;
}

#btnDownloadCategory {
    font-size: 32px;
    top: 107px;
    position: absolute;
}

.btn-add {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.btn-add #btnDownloadCategory {
    margin-left: 20px;
    position: relative;
    top: 0;
}
