.header-table .relative i {
    position: absolute;
    top: 25px;
}

#div_find_supplier .spinner-border {
    top: 10px;
    position: absolute;
    right: 13px;
    width: 18px;
    height: 18px;
    display: none;
}

#div_list_supplier {
    width: 85%;
    max-height: 200px;
    z-index: 100;
    position: absolute;
    background-color: white;
    overflow: auto;
}

#popupAdd .modal-body table tr:first-child th:nth-child(2) {
    position: relative;
}

#popupAdd .modal-body table tr:first-child th:nth-child(2) button {
    position: absolute;
    top: 12px;
    right: 12px;
}