<!DOCTYPE html>


<html lang="en">

<head>
    <link rel="stylesheet" href="/css/import_product/add_import_supplier.css">
    <%- include('../../../header',{title:"Nhập hàng | Nhập thêm nhà cung cấp"}) %>
        <div class="page-content">
            <div class="header-table">
              <div>
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="/import-product-from-supplier/add">Thêm mới</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/import-product-from-supplier/find">Tìm kiếm</a>
                  </li>
                </ul>
              </div>
              <div class="row">
                <div id="div_find_supplier" class="col-6 col-md-3 relative">
                  <label>Nhà cung cấp</label>
                  <input disabled placeholder="Nhập tên nhà cung cấp hoặc số điện thoại" oninput="findSupplier()" class="form-control">
                  <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <div onscroll="loadmoreSupplier()" id="div_list_supplier"></div>
                </div>
                <div class="col-6 col-md-2">
                  <label>Số điện thoại</label>
                  <input disabled placeholder="Số điện thoại" class="form-control">
                </div>
                <div class="col-6 col-md-2">
                  <label>Địa chỉ</label>
                  <input disabled placeholder="Địa chỉ nhà cung cấp" class="form-control">
                </div>
               
                <div class="col-6 col-md-2">
                  <label>Chọn kho</label>
                  <select disabled id="selectWarehouse"></select>
                </div>
                <div class="col-3 col-md-1 ralative">
                  <button id="btn_show_popup_supplier" class="btn btn-primary"><i class="mdi mdi-account-plus" onclick="showPopup('')" title="Thêm mới nhà cung cấp"></i></button>
                </div>
        
              </div>
            </div>
            <div class="container-fluid">
                <div id="divTable" class="div-table">
                  <table class="table table-hover" id="table-main">
                    <thead>
                      <tr>
                        <th>Tên sản phẩm</th>
                        <th>Mã phụ</th>
                        <th>Giá nhập</th>
                        <th>VAT</th>
                        <th>CK</th>
                        <th>Số lượng</th>
                        <th>Bảo hành</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody id="tbodyTable">
                      
                    </tbody>
                </table>
                </div>
                <div id="divPagination">
                    <table class="table">
                        <tr>
                          <td>Tổng tiền</td>
                          <td><input id="totalMoney" class="form-control number" value="0" disabled></td>
                          <td>Đã thanh toán</td>
                          <td><input id="paid"  oninput="changeMoney()" class="form-control number" value="0"></td>
                          <td>Còn nợ</td>
                          <td><input id="debt" class="form-control number" disabled value="0"></td>
                          <td>Hình thức TT</td>
                          <td><select id="selectTypePayment"></select></td>
                        </tr>
                        <tr>
                          <td>Ghi chú</td>
                          <td colspan="6"><input name="note" class="form-control" placeholder="Nhập ghi chú"></td>
                          <td class="center"><button data-target="#popupConfirm" data-toggle="modal" class="btn btn-primary">Xác nhận</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- POPUP ====================================-->
        <div class="modal" id="popupConfirm" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Xác nhận nhập</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Hãy kiểm tra kĩ các thông tin trước khi nhập kho!</p>
              </div>
              <div class="modal-footer">
                <button type="button" id="btnConfirm" class="btn btn-danger">Xác nhận</button>
                <button type="button"  class="btn btn-secondary" data-dismiss="modal">Đóng</button>
              </div>
            </div>
          </div>
        </div>
        <!-- ====================================== -->
        <%- include('../../../footer') %>
        <script>
          const type_import = "Nhập hàng từ nhà cung cấp"
          const id_import = '<%- id_import %>'
        </script>
          <script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
        <script src="/assets/js/xlsx.core.min.js"></script>
        <script src="/js/BusinessManagement/ImportProduct/Import-Supplier/more.js"></script>
          </body>

</html>