#tbodyTable td:first-child {
    text-align: center;
}
#tbodyTable td:nth-child(6) {
    text-align: right;
}

#popupEdit .col.col-md-12:first-child table tr:nth-child(5) td {
    color: red;
}

#popupEdit .col.col-md-12:first-child table tr:nth-child(4) td {
    color: blue;
}

#popupEdit .col.col-md-12:nth-child(2) table thead th:nth-child(9) {
    display: none;
}
#popupEdit .col.col-md-12:nth-child(2) table tr td:nth-child(9) {
    display: none;
}

.div-payment:has(input[type="checkbox"]) {
    position: relative;
}
#payment_zero {
    position: absolute;
    top: 22px;
    right: 0;
}
