<!DOCTYPE html>


<html lang="en">
  
<head>
    <link rel="stylesheet" href="/css/up_product_to_website.css">
    <link rel="stylesheet" href="/css/imageuploadify.min.css">

    <%- include('../../../header',{title:"Thêm/Sửa thông báo"}) %>

        <div class="page-content">
            <div class="header-table">
             
            </div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                  <div class="container">
                    <div class="post">
                       
                        <div class="post__title relative">
                          <span>Chỉnh sửa/ Thêm khuyến mại</span>
                          <span>
                            <button onclick="confirmSave()" class="btn btn-danger absulate btn-save">Lưu thay đổi</button>
                          </span>
                        </div>
                        
                        <div class="post__form">
                          <div class="mb-3">
                            <label for="descriptPro2" class="form-label">Title</label>
                            <input type="text" class="form-control" name="title_promotion" placeholder="Nhập tiêu đề khuyến mại..." aria-describedby="descriptHelp" value="" />
                          </div>

            
                            <div class="mb-3">
                                <label for="InputLink" class="form-label">Link bài viết:</label>
                                <input type="text" class="form-control" name="promotion_url" placeholder="Link bài viết hướng đến" />
                            </div>

                            <div class="mb-3">
                              <label for="descriptPro2" class="form-label">Số thứ tự</label>
                              <input type="text" class="form-control number" oninput="inputNumber()" value="0" name="promotion_index" placeholder="Nhập tiêu đề khuyến mại..." aria-describedby="descriptHelp" value="" />
                            </div>
                        </div>
                    </div>
                   
                    <div> 
                      <b>Bài viết</b>
                      <textarea id="editor" class="form-control"></textarea>
                    </div>
                    <div>
                        <label>Ảnh trước đó</label>
                        <div class="div-image-period row">
                          
                        </div>
                    </div>
                    <div class="div-image" >
                      <b>Chọn ảnh</b>
                      <input autocomplete="off" type="file" name="image_product" id="inputSelectMoreImage" accept="image/*" multiple>
                    </div>
            
                      <div>
                        <button onclick="confirmSave()" class="btn btn-danger btn-save">Lưu thay đổi</button>
                      </div>
                    </div>
                    
                </div>
                
             
                </div>
            </div>
        </div>
        <!-- POPUP ====================================-->

        <%- include('../../../footer') %>
<!--  -->
        <!-- ====================================== -->
        <script src="/assets/ckeditor/ckeditor.js"></script>
        <script src="/assets/ckeditor/samples/js/sample.js"></script>
        <script src="/assets/js/imageuploadify.js"></script>
        <script>
          $('input[name="image_product"]').imageuploadify();
          initSample();
          const id_promotion = '<% if(locals.id_promotion){ %><%- id_promotion %><% }else { %><% } %>'
     
        </script>
        <script src="/js/ContentsManagement/GM-Feed/Promotion/edit_add_promotion.js"></script>
        

</body>
</html>